@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Fugaz+One&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(220, 210, 190);
    --secondary-color: rgb(245, 245, 220);
    --third-color: rgb(255, 255, 255);
    --fourth-color: rgb(0, 0, 0);
    --fifth-color : rgba(0,0,0,.7);
    --error-color: #842029;
    --success-color : #43A047;
    --bg-error-color: #f8d7da;
    --bg-success-color: #e6fffa;
    --font-family : "Fugaz One", cursive;
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    background-color : var(--fourth-color);
    color: var(--third-color);
     
}
/*========================== STYLISATION DU HEADER =============================*/
.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 0 5px var(--primary-color);
    background-color: var(--fourth-color);
    height: 6.5rem;
}

.header-title{
    display: flex;
    align-items: center;
}

.logo {
    background: url("../images/logo.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


.title{
    font-family: var(--font-family);
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: .2rem;
}

.title span{
    color: var(--primary-color);
}

.header-btn{
    display: flex;
    gap: 2rem;
    align-items: center;
    position: relative;
}

.fa-bars{
    font-size: 2.3rem;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 2rem;
    border: 1px solid var(--primary-color);
    display: none;
}

.menu li{
    list-style: none;
    padding: 1rem 2rem;
    background-color: var(--third-color);
    color: var(--fourth-color);
    cursor: pointer;
    
}

.menu a {
    text-decoration: none;
    color: var(--fourth-color);
}

.menu li:hover{
    background-color: var(--primary-color);
}

.hide{
    display: none !important; 
}

.show{
    display: block !important;
}
.disconnect {
    font-weight: 550;
    padding: 1.2rem .7rem;
    border-radius: .5rem;
    background-color: var(--fourth-color);
    color: var(--third-color);
    border: 1.5px solid  var(--primary-color);
    cursor: pointer;
    transition: all .5s ease-in-out;
    font-size: 1.5rem;
}

.disconnect:hover{
    background-color: var(--third-color);
    color: var(--fourth-color);
    border-color:transparent  ;
}

/*======================================== STYLISATION DE LA PARTIE EXPLORATION ===============================*/

#exploration{
    padding-top:8.5rem;
    max-width: 82%;
    margin-inline: auto;
    min-height: 100vh;
}

.title-explorer{
    font-family: var(--font-family);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.title-explorer span, span{
    color: var(--primary-color);
}

h2{
    text-align: center;
}

#exploration p {
    text-align: justify;
    line-height: 1.6;
}

#animals{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
    margin-top: 5rem;
    width: 100%;
    scroll-margin-top: 2rem;
    
}

.animal-card{
    position: relative;
    height: 320px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: .5rem;
}

.animal-card img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: transform .5s ease;
}

.animal-card h2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, .7);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    transition: transform .5s ease;
    transform: translateX(-100%);
}

.animal-card button{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 3;
    padding: 1.2rem 1.5rem;
    background-color: var(--third-color);
    color: var(--fourth-color);
    border-color:transparent  ;
    cursor: pointer;
    transition: all .5s ease-in-out;
    font-size: 1.5rem;
    font-weight: 500;
}

.animal-card button:hover, .animal-card button:focus{
    background-color: var(--fourth-color);
    color: var(--third-color);
    border: 1.5px solid  var(--primary-color);
}
.animal-card:hover h2{
    transform: translateX(0);
}

.animal-card:hover img{
    transform: scale(1.2);
}

.description {
    margin: 1.5rem auto;
    animation: appaer 2s ease;
    padding: 1.2rem;
    border: 1.5px solid var(--third-color);
    border-radius: .7rem;
    display: none;
}

.btn-describe{
    padding: 1rem 1.2rem;
    margin-top: 1rem;
    border: 1.5px solid transparent;
}

.btn-describe:hover, .btn-describe:focus{
    background-color: var(--fourth-color);
    border-color: var(--third-color);
    color: var(--third-color);
}

.btn-quiz {
    width: 100%;
    margin-top: 2.8rem;
    padding: 1.5rem 0;
    border-radius: 1.5rem;
    background-color: var(--fourth-color);
    border: 1.7px solid var(--third-color);
    color: var(--third-color);
    font-weight: bold;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn-quiz:hover{
    background-color: var(--third-color);
    color: var(--fourth-color);
    border-color: transparent ;
}
/*======================================================================*/

#quiz{
   position: absolute; 
   background-color: rgba(255,255,255, .7);
   left: 50%;
   top: 50%;
   transform: translateX(-50%);
   height: 100%;
   width: 82%;
   z-index: 1001; 
}



/*=========================== STYLISATION DU FOOTER ======================================*/

footer{
    text-align: center;
    padding: 1.5rem;
    background-color: var(--fourth-color);
    color: var(--third-color);
    margin-top: 3rem;
    border-top: 1px solid var(--third-color);
}


@keyframes appaer {
    0%{
       transform:  translateY(-25px)
    }   
    100%{
        transform: translateY(0)
    }
}


@media (max-width: 850px){

    #animals{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}

@media (max-width: 470px){

    .header-title{
        display: block;   
    }
    .title{
        font-size: 1.4rem;

    }
    .fa-bars{
        font-size: 1.8rem;
    }

    .disconnect{
        padding: .5rem;
        font-size: 1.2rem;
    }
    #animals{
        display: block;
        
    }

    .animal-card{
        margin-bottom: 1.5rem;
        border-radius: 1rem;
    }
}