@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Fugaz+One&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(220, 210, 190);
    --secondary-color: rgb(245, 245, 220);
    --third-color: rgb(255, 255, 255);
    --fourth-color: rgb(0, 0, 0);
    --fifth-color : rgba(0,0,0,.7);
    --error-color: #842029;
    --success-color : #43A047;
    --bg-error-color: #f8d7da;
    --bg-success-color: #e6fffa;
    --font-family : "Fugaz One", cursive;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    color: var(--fourth-color);
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    background-color : var(--fourth-color);
    color: var(--third-color);
     
}
/*========================== STYLISATION DU HEADER =============================*/
.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 0 5px var(--primary-color);
    background-color: var(--fourth-color);
    height: 6.5rem;
}

.header-title{
    display: flex;
    align-items: center;
}

.logo {
    background: url("images/logo.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


.title{
    font-family: var(--font-family);
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: .2rem;
}

.title span{
    color: var(--primary-color);
}

.header-btn{
    display: flex;
    gap: 2rem;
    align-items: center;
    position: relative;
}

.fa-bars{
    font-size: 2.3rem;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 2rem;
    border: 1px solid var(--primary-color);
    display: none;
}

.menu li{
    list-style: none;
    padding: 1rem 2rem;
    background-color: var(--third-color);
    color: var(--fourth-color);
    cursor: pointer;
    
}

.menu a {
    text-decoration: none;
    color: var(--fourth-color);
}

.menu li:hover{
    background-color: var(--primary-color);
}

.disconnect {
    font-weight: 550;
    padding: 1.2rem .7rem;
    border-radius: .5rem;
    background-color: var(--fourth-color);
    color: var(--third-color);
    border: 1.5px solid  var(--primary-color);
    cursor: pointer;
    transition: all .5s ease-in-out;
    font-size: 1.5rem;
}

.disconnect:hover{
    background-color: var(--third-color);
    color: var(--fourth-color);
    border-color:transparent  ;
}
/*========================== STYLISATION DU MAIN =========================================*/
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top:8.5rem;
    max-width: 82%;
    margin-inline: auto;
}
.quiz{
    background-color: var(--third-color);
    border-radius: 1rem;
    color: var(--fourth-color);
    padding: 2rem 0;
}
.rules{
    max-width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-inline: auto;
    animation: appaer 1s ease;
}
.rules h2{
    font-family: var(--font-family);
    text-align: center;
}

.rules li {
    padding: 1rem 0;
    margin-left: 2.5rem;
}

.rule{
    list-style: none;
    font-weight: bold;
}

.btn-rule{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.yes, .no{
    padding: 1rem;
    font-family: var(--font-family);
    border-radius: .5rem;
    cursor: pointer;
}

.yes{
   background-color: var(--success-color); 
   border: none;
   color: var(--third-color);
}

.no{
    background-color: var(--error-color);
    color: var(--third-color);
    border: none;
}

.info{
    color: var(--success-color);
    font-weight: bold;
    margin-top: 1rem;
    opacity: 0;
}

.apparition{
    animation: apparition 4s ease;
}

/*============================ STYLISATION DU MAIN QUIZ =====================================*/
.main-quiz{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-inline: auto;
    animation: appaer 1s ease;
}


.timer{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    border: 1.5px solid var(--fourth-color);
    background-color: var(--bg-error-color);
    border-radius: .5rem;
    font-family: var(--font-family);
    font-size: 3rem;
    padding: 1rem 2rem;
    color: var(--error-color);
}

/*============================ STYLISATION DES QUESTIONS ET RÉPONSES ===============================*/
.quest{
    margin: 1rem;
}

.question{
    font-weight: 500;
}
.choices {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

.choices input{
    margin-right: 1rem;
    accent-color: var(--error-color);
}

.precedent, .next, .submit{
    padding: 1rem;
    margin : 1rem 1rem 0 ;
    border: 1px solid transparent;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

}

.precedent{
    background-color: var(--bg-error-color);
}

.submit{
    background-color: red;
}

.next{
    background-color: var(--success-color);
}


/*=========================== STYLISATION DU FOOTER ======================================*/

footer{
    text-align: center;
    padding: 1.5rem;
    background-color: var(--fourth-color);
    color: var(--third-color);
    margin-top: 3rem;
    border-top: 1px solid var(--third-color);
}

/*========================== CLASSES ESSENTIELLES =============================*/
.incorrect {
    color: var(--error-color);
    background-color: var(--bg-error-color);
}

.correct {
    color: var(--success-color);
    background-color: var(--bg-success-color);
}

.correct::before{
    content: "\2714";
    display: block;
    position: absolute;
    left: .5rem;
}
.hide{
    display: none!important;
}
.show{
    display: block !important;
}

.showQuiz{
    display: flex;
}

/*==============================================================================*/

@keyframes appaer {
    0%{
       transform:  translateY(-25px)
    }   
    100%{
        transform: translateY(0)
    }
}

@keyframes apparition {
    
    0% {
        transform: translateY(-25px);
        opacity: .5;
    }
    50%{
        transform: translateY(0);
        opacity: 1;
    }

    100%{
        transform: translateY(25px);
        opacity: 0;
    }
}

@media (max-width: 763px){

    body{
        font-size: 1.3rem;
    }

   .timer{
        padding: 1rem;
        font-size: 2.5rem;
        margin-bottom: 2rem;
   }

}

@media (max-width: 470px){

    .header-title{
        display: block;
        
    }
    .title{
        font-size: 1.4rem;

    }
    .fa-bars{
        font-size: 1.8rem;
    }

    .disconnect{
        padding: .5rem;
        font-size: 1.2rem;
    }
}

