:root{
    --primary-color: rgb(220, 210, 190);
    --secondary-color: rgb(245, 245, 220);
    --third-color: rgb(255, 255, 255);
    --fourth-color: rgb(0, 0, 0);
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color : black;
    color: white;
    
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-items: center;
}
.logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: rgba(245, 245, 220, .3) solid 1px;
    background: url("images/rdcBlanc.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
    animation: appaerY 1s ease-in-out;
    transform-style: preserve-3d;
    perspective: 800px;


} 

.title{
    font-size: 2rem;
    font-weight: bold;
    animation: appaerY 1s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

.title span {
    color: rgb(220, 210, 190);
}

button{
    margin-top: 1.5rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: 2px solid rgb(220, 210, 190);
    border-radius: 5px;
    cursor: pointer;
    animation: appaer 1s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    50%{
        opacity: .6;
    }

    100%{
        opacity: 1;
    }
}

@keyframes appaer {
    0%{
        opacity: .1;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

    
}

@keyframes appaerY {
    0%{
        opacity: .1;
        transform: translateY(-20px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }

    
}